@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

@layer utilities {
  .border-lavender-300 {
    border-color: #E6E6FA;
  }
  .border-lavender-400 {
    border-color: #D8BFD8;
  }
}